/* 
    Page Settings for Root
*/

.app {
  height: 100vh;
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: black;
}
/* Main Navbar */

/* Primary background color for large screens */
@media (min-width: 768px) {
  #navbar-top {
    background-color: #fe724c !important; /* Your primary color for large screens */
  }
}

.nav-link {
  transition: transform 0.5s ease; /* Transition effect only for transform */
}

.nav-link.active p {
  color: #fe724c !important;
  transform: scale(1.1); /* Scale the icon slightly bigger on hover */
}

@media (min-width: 768px) {
  .nav-link.active p {
    color: white !important;
    transform: scale(1.1); /* Scale the icon slightly bigger on hover */
  }
}

.nav-link.active img {
  transform: scale(1.1); /* Scale the icon slightly bigger on hover */
}

.nav-link.active:hover {
  transform: scale(1.1); /* Scale the icon slightly bigger on hover */
}
/* 
    Mobile Nav Bar
*/

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease; /* Transition effect only for transform */
}

.navbar-brand:hover {
  transform: scale(1.1); /* Scale the icon slightly bigger on hover */
}

.navbar-brand.active img {
  filter: brightness(0) invert(1); /* Change image color when active */
  transform: scale(1.1); /* Scale the icon slightly bigger on hover */
}

#navbarNav {
  background-color: #ffece7;
}

@media (min-width: 768px) {
  #navbarNav {
    width: 30% !important;
  }
}

/* Backdrop */

.modal-backdrop.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  backdrop-filter: blur(5px); /* apply blur effect */
}

/* Add Storage Popup */

#add-storage-div {
  position: absolute;
  bottom: 0;
  transition: transform 0.8s ease-in-out; /* Smooth transition effect */
  transform: translateY(100%);
}

#add-storage-div.show {
  transform: translateY(0); /* Move the component to the top when it is shown */
}
