/* 
    Page Settings for Root
*/

.app {
  height: 100svh;
  overflow: hidden;
}

body {
  overflow-y: hidden; /* Prevent vertical scrolling */
}

p,
h1,
h2,
h3,
h4,
h5,
h6, input {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: black;
}
/* Main Navbar */

/* Primary background color for large screens */
@media (min-width: 768px) {
  #navbar-top {
    background-color: #fe724c !important; /* Your primary color for large screens */
  }
}

.nav-link {
  transition: transform 0.5s ease; /* Transition effect only for transform */
}

.nav-link.active p {
  color: #fe724c !important;
  transform: scale(1.1); /* Scale the icon slightly bigger on hover */
}

@media (min-width: 768px) {
  .nav-link.active p {
    color: white !important;
    transform: scale(1.1); /* Scale the icon slightly bigger on hover */
  }
}

.nav-link.active img {
  transform: scale(1.1); /* Scale the icon slightly bigger on hover */
}

.nav-link.active:hover {
  transform: scale(1.1); /* Scale the icon slightly bigger on hover */
}
/* 
    Mobile Nav Bar
*/

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease; /* Transition effect only for transform */
}

.navbar-brand:hover {
  transform: scale(1.1); /* Scale the icon slightly bigger on hover */
}

.navbar-brand.active img {
  filter: brightness(0) invert(1); /* Change image color when active */
  transform: scale(1.1); /* Scale the icon slightly bigger on hover */
}

#navbarNav {
  background-color: #ffece7;
}

@media (min-width: 768px) {
  #navbarNav {
    width: 30% !important;
  }
}

/* Backdrop */

.modal-backdrop.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  backdrop-filter: blur(5px); /* apply blur effect */
}

/* Add Storage Popup */

#add-storage-div {
  position: absolute;
  bottom: 0;
  transition: transform 0.8s ease-in-out; /* Smooth transition effect */
  transform: translateY(100%);
}

#add-storage-div.show {
  transform: translateY(0); /* Move the component to the top when it is shown */
}

/* Item scan buttons */

#buttons:active {
  transition: transform 0.1s ease; /* Transition effect for transform when button is active (pressed) */
  transform: scale(
    0.9
  ); /* Scale the button slightly smaller when active (pressed) */
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: #fe724c !important;
  color: #ffffff; /* Optional: Text color for active state */
}

/* Shopping List CSS */

#shopping-list-form {
  border: 3px solid #ffece7;
  padding: 5px;
  display: flex;
} 

form input[type="text"] {
  background: none;
  border: 0;
  display: block;
  width: 100%;
}


form input[type="text"]:focus {
  outline: none; 
}

form button {
  background-color: #fe724c;
  border: 0;
  padding-left: 1px;
  padding-right: 1px;
  cursor: pointer;
}

div#task {
  background-color: #ffece7;
  border-radius: 2rem;
  border: 1px solid #c4aca568;
  padding: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  transition: opacity 0.3s linear;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

div#task img {
  height: 24px;
  width: 24px;
  margin: 0 4px;
}

div.checked {
  opacity: 0.5;
}

div.checked h5 {
  position: relative;
}

div h5:before {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #000000;
  position: absolute;
  top: 57%;
}

div.checked h5:before {
  width: 100%;
  transition: width 0.3s linear;
}

div#task input {
  border: 2px solid #fe724c;
  border-radius: 10px;
  margin-right: 1rem; /* Add margin to separate from the text */
}


.form-control:focus {
  border-color: #fe724c;
  outline: none !important;
  box-shadow: none !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: #000000;
}

input#floatingUsername:focus {
  border-color: #fe724c!important;
  outline: none !important;
  box-shadow: none !important;
}